.eyes {
    position:relative;
    left: 339px;
    bottom: 30px;

}

.cp
{
    position:relative;
    bottom:25px;
}

.countries {
    position:relative;
    bottom:25px;
}

.submitbtns {
    position:relative;
    top:5px;
    left:260px;
}

.cpmessage {
    position:relative;
    bottom: 25px;
}