footer {
    background: #212529;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 7rem; /* pushes footer down */
  }
  
  footer a {
    text-decoration: none;
    color: white;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  